#btnl{
  padding: 10px;
  border-radius: 30px;
  background-color: blue;
}
#btnr{
  padding: 10px;
  border-radius: 30px;
  background-color: blue;
}
img{
  width: 250px;
  height: 450px;
}
.wrapper{
  margin: 10px;
}